<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <filter>
  	<filter-name>SetAllCharacterEncoding</filter-name>
  	<filter-class>com.itheima.filter.SetAllCharacterEncoding</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>SetAllCharacterEncoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
   <filter>
   	<filter-name>DynamicResourceNoCacheFilter</filter-name>
   	<filter-class>com.itheima.filter.DynamicResourceNoCacheFilter</filter-class>
   </filter>
   <filter-mapping>
  	<filter-name>DynamicResourceNoCacheFilter</filter-name>
  	<url-pattern>*.jsp</url-pattern>
  	<url-pattern>/manage/*</url-pattern>
  	<url-pattern>/client/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>ManageServlet</servlet-name>
    <servlet-class>com.itheima.web.controller.ManageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CilentServlet</servlet-name>
    <servlet-class>com.itheima.web.controller.CilentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>com.itheima.web.controller.PayServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayResultServlet</servlet-name>
    <servlet-class>com.itheima.web.controller.PayResultServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>ManageServlet</servlet-name>
    <url-pattern>/manage/ManageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CilentServlet</servlet-name>
    <url-pattern>/client/CilentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/pay/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayResultServlet</servlet-name>
    <url-pattern>/pay/PayResultServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
